<div class="container">
  <div class="container">

    <h1 class="display-3 mb-5">Przeszukaj utwory i wykonawców:</h1>
    <form class="text-dark">
      <div class="row">
        <div class="col-sm-5">
          <div class="form-group">
            <input type="text" class="form-control" id="tracks" name="tracks" aria-describedby="emailHelp"
                   placeholder="Wprowadź nazwe wyszukiwanego utworu" [(ngModel)]="tracksName">

          </div>
        </div>
        <div class="col-sm-4 mb-lg-0 mb-4">
          <button type="submit" class="btn btn-primary" (click)="searchForTracks()">Wyszukaj utworów</button>
        </div>


        <div class="col-sm-5">
          <div class="form-group">
            <input type="text" class="form-control" id="artists" name="artists"
                   placeholder="Wprowadź nazwe wyszukiwanego wykonawcy" [(ngModel)]="artistName">
          </div>
        </div>
        <div class="col-sm-4">
          <button type="submit" class="btn btn-primary mb-5" (click)="searchForArtists()">Wyszukaj Wykonawców
          </button>
        </div>
      </div>
    </form>


  </div>
</div>

<!--Wyszukiwanie po utworach-->
<div class="container-fluid">
  <table class="table" *ngIf="tracksSearchResult">
    <thead>
    <tr>
      <th>Obrazek</th>
      <th>Tytuł Utwóru</th>
      <th>Album</th>
      <th>Wykonawca</th>
      <th>Czas utworu</th>
      <th>Ulubiony</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let track of tracksSearchResult">
      <td><img src="{{track.album.images[2].url}}"></td>
      <td>{{track.name}}</td>
      <td>{{track.album.name}}</td>
      <td>{{getArtistsNames(track.artists)}}</td>
      <td>{{msToMinutes(track.duration_ms)}}</td>
      <td>
        <button class=" btn btn-success" (click)="addTrackToFavorites(track)">Dodaj do ulubionych</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!--Wyszukiwanie po wykonawcach-->
<div class="container">
  <table class="table" *ngIf="artistsSearchResult">
    <thead>
    <tr>
      <th>Obrazek</th>
      <th>Wykonawca</th>
      <th>Obserwujących</th>
      <th>Ulubiony</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let artist of artistsSearchResult">
      <td *ngIf="artist.images.length > 0; else noImageFound"><img src="{{artist.images[1].url}}"></td>
      <ng-template #noImageFound>
        <td><img src="https://www.freeiconspng.com/uploads/no-image-icon-6.png"></td>
      </ng-template>
      <td>{{artist.name}}</td>
      <td>{{artist.followers.total}}</td>
      <td>
        <button class=" btn btn-success" (click)="addArtistToFavorites(artist)">Dodaj do ulubionych</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

