<div class="container">
  <div class="container">

    <h1 class="display-3 mb-5">Przeszukaj utwory i wykonawców:</h1>
    <form class="text-dark">
      <div class="row">
        <div class="col-sm-5">
          <div class="form-group">
            <input type="text" class="form-control" id="tracks" name="tracks" aria-describedby="emailHelp"
                   placeholder="Wprowadź nazwe wyszukiwanego utworu" [(ngModel)]="tracksName">

          </div>
        </div>
        <div class="col-sm-4 mb-lg-0 mb-4">
          <button type="submit" class="btn btn-primary" (click)="searchForTracks()">Wyszukaj utworów</button>
        </div>


        <div class="col-sm-5">
          <div class="form-group">
            <input type="artists" class="form-control" id="artists" name="artists"
                   placeholder="Wprowadź nazwe wyszukiwanego wykonawcy">
          </div>
        </div>
        <div class="col-sm-4">
          <button type="submit" class="btn btn-primary mb-5" (click)="searchForArtists()">Wyszukaj Wykonawców
          </button>
        </div>
      </div>
    </form>


  </div>
</div>

<div class="container-fluid">
  <table class="table" *ngIf="searchResult">
    <thead>
    <tr>
      <th>Obrazek</th>
      <th>Tytuł Utwóru</th>
      <th>Album</th>
      <th>Wykonawca</th>
      <th>Czas utworu</th>
      <th>Ulubiony</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let result of searchResult">
      <td><img src="{{result.album.images[2].url}}"></td>
      <td>{{result.name}}</td>
      <td>{{result.album.name}}</td>
      <td>{{getArtistsNames(result.artists)}}</td>
      <td>{{msToMinutes(result.duration_ms)}}</td>
      <td>
        <button class=" btn btn-success" (click)="addToFavorites(result)">Dodaj Do ulubionych</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

